root = true

[*.cs]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

dotnet_style_require_accessibility_modifiers = for_non_interface_members:warning
dotnet_style_prefer_collection_expression = when_types_loosely_match:suggestion
dotnet_style_prefer_primary_constructors = false:suggestion

csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

csharp_style_expression_bodied_methods = false:silent
csharp_style_expression_bodied_constructors = false:silent
csharp_style_expression_bodied_operators = when_on_single_line:suggestion
csharp_style_namespace_declarations = file_scoped:suggestion

dotnet_diagnostic.CA2007.severity = warning
dotnet_diagnostic.CA2016.severity = warning
dotnet_diagnostic.CA1848.severity = warning
dotnet_diagnostic.CS1591.severity = silent

[*.{csproj,props,targets,sln}]
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true

[*.{yml,yaml,md,sh}]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true
